@model List<versionamento.Models.Repositorios_VM>
@using versionamento.Models
@{
    ViewBag.Title = "Home Page";
}


<section id="sectionPrincipal">
    <header id="header">
        <div id="TitlePage">
            <span>Arco - Sistemas</span>
            <span>Versões</span>
        </div>
        <div id="contentImg">
        </div>
    </header>
    <div class="contentRepositores">

        @foreach (Repositorios_VM item in Model)
        {

            <div class="cardRepository">
                <span class="titleRepo">@item.Nome</span>
                <span class="version">@item.VersaoAPP</span>
                <div class="backgroundRotate">
                    <div id="contentDescription-@item.Id" class="contentDescription">
                        <span class="description">@item.Descricao</span>
                    </div>
                    <div class="contentPR">
                        <div class="descriptionPR">
                            @Html.Raw(item.PullRequest)
                        </div>
                    </div>
                    <div id="rotation-@item.Id" class="divRotate"></div>
                    <div id="icon-@item.Id" class="icon" onclick="activeRotate('@item.Id')"></div>
                </div>
            </div>
        }
    </div>

</section>

    <script type="text/javascript">


            function activeRotate(id) {
                const icon = $('#icon-' + id);
                const divRotate = $('#rotation-'+id);
                const contentDescription = $('#contentDescription-' + id);
          
                    if (divRotate.hasClass('ActivedivRotate')) {
                        divRotate.removeClass('ActivedivRotate');
                        icon.removeClass('transformScale');
                        contentDescription.removeClass('TransactionColor');
                        return;
                    }

                    divRotate.addClass('ActivedivRotate');
                    icon.addClass('transformScale');
                    contentDescription.addClass('TransactionColor');
            }

            //const backgroundRotate = $('.backgroundRotate');
            //const pullRequest = $('.contentPR');



    </script>


